#ipad {
    width: 400px;
}

i {
  float: left;
  height: 30px;
  width: 30px;
  margin-top: 30px;
}
.sp-field {
    margin-left: 44%;
    width: 135pt;
}
#picture {
    background-image: url(img/background2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 80%;
}
#logo {
    display: flex;
}
#logopng {
    width: 50px;
    height: 50px;
}
#lgtext {
    margin-left: 10px;
    margin-top: 5px;
    color: azure;
}
#android {
    margin-left: 30px;
}
#windows {
    margin-left: 50px;
}
#email {
    margin-top: 40px;
    margin-left: 30%;
    width: 60%;
}
#sbmt {
    margin-left: 10pt;
    width: 10%;
}
#fff {
    background-color: black; 
}
#cnctus {
    color: rgb(122, 191, 236);
    text-align: center; 
    padding-top: 30pt;
}
#lstxt {
    color: white; 
    margin-top: 50pt;
    background-color: black;
}
#exampleInputEmail1 {
    margin-left: 200px;
    width: 600px;
    margin-left: 30px;
}
#gvemail {
    color: rgb(255, 8, 0); 
    text-align: center; 
    margin-top: 10pt;
}
#dddd {
    height: 660px;
}
#info {
    padding-top: 1px;
}
#act {
    margin-bottom: 10px;
}
