#picture {
    background-image: url(../../img/background2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 80%;
}
#logo {
    display: flex;
}
#logopng {
    width: 50px;
    height: 50px;
}
#lgtext {
    margin-left: 10px;
    margin-top: 5px;
    color: azure;
}
#email {
    margin-top: 100px;
    margin-left: 30%;
    width: 60%;
}
#sbmt {
    margin-left: 10pt;
    width: 10%;
}
#fff {
    background-color: black; 
    height: 400px;
}
#cnctus {
    color: rgb(122, 191, 236);
    text-align: center; 
    padding-top: 30pt;
}
#lstxt {
    color: white; 
    margin-top: 50pt;
    background-color: black;
}
#exampleInputEmail1 {
    margin-left: 200px;
    width: 600px;
    margin-left: 30px;
}
#gvemail {
    color: rgb(255, 8, 0); 
    text-align: center; 
    margin-top: 10pt;
}
#dddd {
    height: 1100px;
    margin-top: 40px;
}
#info {
    padding-top: 1px;
}
#act {
    margin-bottom: 10px;
}
#cOnly {
    width: 1000px;
    margin-left: calc(50vw - 500px);
    padding-top: 30px;
    margin: auto;
}
#pictures {
    margin: 0px;
    padding: 0px;
    margin-left: calc(50vw - 575px);
}
.scale {
    width: 250px;
    height: 150px;
    margin-left: -10px;
    transition: 1s;
}
.scale:hover {
    transform: scale(1.2); 
   }
#galImg2 {
    margin-bottom: 30px;
}
hr {
    background-color: black; 
    color: black; 
    height: 5px;
    width: 1000px;
}